body.light-mode {
  background-color: #1888b4;
  color: #333;
}

body.light-mode header,
body.light-mode nav,
body.light-mode footer {
  background-color: #2E5984;
}

body.light-mode .card {
  background: #2E5984;
  color: red;
}

body.light-mode .card:hover {
  background: #1D2D50;
}

body.light-mode .menu a,
body.light-mode .submenu a,
body.light-mode .subsubmenu a {
  color: red;
}

body.light-mode .contenido {
  background-color: #2E5984;
  color: red;
}

body.light-mode .dark-mode-toggle {
  background-color: #2E5984;
  color: red;
}